
// 
header{
    background-color: #F3FEFF;
    .container{
    .maker{
        .maker-1{
           padding: 20px;
            line-height: 35px;
            display: flex;
            justify-content: space-between;
            img{
                width: 90px;
                height: 34px;
            }
            ul{
                display: flex;
                list-style: none;
                gap: 20px;
                li{
                    a{
                        font-weight: 500;
                        font-size: 16px;
                        color: #969999; 
                    }
                }
            }
            button{
                border: none;
                border-radius: 8px;
                background-color: #35AFBF;
                padding: 0px 20px;
                a{
                    
                    color: #FFFFFF;
                }
            
           }
        }
    }
}
}
// 
.ideas{
    padding: 1px;
    background-color: #F3FEFF;
    .container{
        .ideas-01{
            margin-top: 40px;
            display: flex;
            justify-content: space-between;

            .ideas-1{
                h1{
                    width: 500px;
                    font-weight: 700;
                    font-size: 51px;

                }
                p{
                    color: #707273;
                    font-weight: 400;
                    font-size: 21px;
                }
                button{
                    border: none;
                    border-radius: 7px;
                    background-color: #35AFBF;
                    padding: 15px 25px;
                    a{
                        font-weight: 500;
                        color: #FFFFFF;
                        font-size: 21px;
                    }
                }

                .ideas-2{
                    img{
                        
                    }
                }
            }
        }
    }
}
// 
.privede{
    .container{
        .privede-01{
            margin-top: 90px;
            .privede-1{
                text-align: center;
            }

            .privede-2{
                margin-top: 90px;
                display: flex;
                justify-content: space-around;
                .wibe{
                    text-align: center;
                    .img-1{
                        margin-left: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        width: 83px;
                        height: 83px;
                        background-color: #35AFBF;
                    }

                    img{
                        
                    }
                    h3{
                        margin: 10px;
                        font-weight: 600;
                        font-size: 21px;
                    }
                    p{

                    }                    
                }
            }

        }
    }
}
// 
section{
    .works{
        background: url('../images/Background\ \(3\).png') no-repeat center center / cover;
        height: 502px;
        margin: 100px 0px;
        .work-content{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column;
            padding-top: 125px;
            color: #FFF;
            h2{
                width: 382px;
                height: 46px;
                font-weight: 700;
                line-height: 45.6px;
                margin-bottom: 15px;
            }
            p{
                width: 700px;
                height: 52px;
                margin-bottom: 70px;
            }
        }
    }
}
// 
.always{
        .container{
            .always-01{
                .always-1{
                    p{
                        font-weight: 500;
                        font-size: 32px;
                    }
                }
            }
        }
    }
// 
.tried{
    margin: 10px 0px;
    .container{
        .tried-1{
            margin: 20px 0px;
            p{
            font-weight: 700;
            font-size: 38px;
            }
            button{
                margin-top: 10px;
                width: 162px;
                height: 49px;
                font-size: 19px;
            }
        }
    }
}
// 
footer{
    background-color: #2C353E;
    height: 590px;
    
    .footer-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: aliceblue;
        height: 450px;
        margin-bottom: -50px;
        .freelancer, .corporate, .agency, .exterprice{
            
            p{
                color: #707273;
            }

            button{
                width: 138px;
                height: 49px;
                border-radius: 15px;
            }
        }
    }
}
// 
